* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat';
    background: #F7F2EB;
    line-height: 40px;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

.judul a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Trajan Pro';
    color: #edf5ff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #081f5c;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #edf5ff;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.right img {
    width: 100px;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.kolom {
    margin-top: 20px;
    margin-bottom: 50px;
}

.deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'sora';
    color: #364f6b;
}

h2 {
    font-family: 'perpetua';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

p {
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    font-family: 'poppins';
    color: #000000;  
}

.wrapper img {
    width: 500px;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    line-height: normal;
}

.tengah {
    text-align: center;
    width: 100%;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 80%;
    border-radius: 50%;
}

.kartu-partner p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#kontak {
    background: #dedede;
    padding: 50px 50px 50px 50px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 1.5;
}

.wrapper {
    display: block;
    padding: 30px 0;
}

.kolom {
    width: 100%;
    max-width: 2000px;
    margin: 10 auto;
    text-align: left;
}

#kontak p {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}  

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}


@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    .wrapper img {
        width: 100%;
        height: 100%;
    }

    input[type=radio], input[type=checkbox]{
        transform: scale(2);
        margin-right: 1em;
    }
}

